body {
  background: $theme-background;
}

// Ширина скролла:
::-webkit-scrollbar {
  width: 6px;
}

/* Стилизация фона боковины */
::-webkit-scrollbar-track {
  background-color: $theme-background;
}

/* Стилизация ползунка скроллбара */
::-webkit-scrollbar-thumb {
  background-color: $theme-color;
  border-radius: $global-radius;
}

/* Стилизация кнопок скроллбара */
::-webkit-scrollbar-button {
  display: none;
}